<%- include('../partials/header_manager') %>


    <div id="wrapper">

        <%- include('../partials/nav_home_manager') %>



            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 col-lg-3">
                        <div class="list-group text-center make-sticky ">
                    
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <div class="profile my-4 table-striped-columns">
                                  <div class="mb-3"><img src="/photos/person_logo.svg" alt="person" width="20%"></div>
                                  <div class="fs-3"><%= manager.fullname%></div>
                                  <div class="fs-5">Manager</div>
                                </div>
                              </tr>
                            </thead>
                            <tbody>
                    
                              <tr>
                                <td><a href="/manager/<%= manager.username%>"
                                    class="list-group-item list-group-item-action">Home</a></td>
                              </tr>
                    
                              <tr>
                                <td><a href="/manager/<%= manager.username%>/view"
                                    class="list-group-item list-group-item-action">View
                                    profile</a></td>
                              </tr>
                              <tr>
                                <td><a href="/manager/<%= manager.username%>/edit"
                                    class="list-group-item list-group-item-action">Edit
                                    Profile</a></td>
                              </tr>
                              <tr>
                                <td><a href="/manager/<%= manager.username%>/changepassword"
                                    class="list-group-item list-group-item-action">Change
                                    password</a></td>
                              </tr>
                              <tr>
                                <td><a href="/manager/<%= manager.username%>/addpayment"
                                    class="list-group-item list-group-item-action">Add Payment</a></td>
                              </tr>
                              <tr>
                                <td><a href="/manager/<%= manager.username%>/viewfeedback"
                                    class="list-group-item list-group-item-action">View Feedback</a>
                                </td>
                              </tr>
                              <tr class="table-active">
                                <td><a href="/manager/<%= manager.username%>/viewinventory"
                                    class="list-group-item list-group-item-action">View inventory</a>
                                </td>
                              </tr>
                              <tr>
                                <td><a href="/manager/<%= manager.username%>/inventoryupgrade"
                                    class="list-group-item list-group-item-action">Edit inventory</a>
                                </td>
                              </tr>
                              <tr>
                                <td><a href="/manager/<%= manager.username%>/inventorydegrade"
                                    class="list-group-item list-group-item-action">Remove inventory</a>
                                </td>
                              </tr>
                              <tr>
                                <td><a href="/manager/<%= manager.username%>/managercheck"
                                    class="list-group-item list-group-item-action">Customer checklist</a>
                                </td>
                              </tr>
                              <tr>
                                <td><a href="/manager/<%= manager.username%>/viewpaymenthistorygraph"
                                    class="list-group-item list-group-item-action">View Payment Statistics</a>
                                </td>
                              </tr>
                              <tr>
                                <td><a href="/manager/<%= manager.username%>/deleteuser"
                                    class="list-group-item list-group-item-action">Remove Customer/cadet</a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    
                        </div>
                      </div>
                    <div class="col-1 col-lg-0"></div>


                    <div class="col-12 col-lg-7 mt-5 py-5">
                        <div class="text-center fs-2 mb-5">Welcome <a href="/manager/<%= manager.username%>"> <%= manager.fullname%></a></div>

                        <div class="container border rounded-5 p-5">
                            <div class="row mb-5">
                                <div class="col text-center fs-3">
                                    Here are the stocks of our Inventory.
                                </div>
                            </div>

                            <table class="table text-center table-hover border">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-7">Item</th>
                                        <th scope="col">amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (const i of inventory ) {%>
                                    <tr>
                                        <td scope="col" class="col-7"><%=i.item%></td>
                                        <td scope="col"><%=i.quantity%></td>
                                    </tr>
                                    <%}%>
                                   
                                </tbody>
                            </table>


                        </div>
                    </div>


                    <div class="col-1 col-lg-0"></div>
                </div>

                <%- include('../partials/footer') %>