<%- include('./partials/header') %>

    <div id="wrapper">
        <% if(err) {%>

            <% if(err.includes("Success") || err.includes("success") || err.includes("Successfully") ||
                err.includes("successfully") || err.includes("Successfull") || err.includes("successfull") )
                {%>

                <div class="container col-md-6 col-xl-4 px-2 rounded-1">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%=err %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                </div>
                <% } else { %>


                    <div class="container col-md-6 col-xl-4 px-2 rounded-1">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%=err %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                    <% } %>
                        <% } %>


                <div class="container bg-dark mt-3 col-md-6 col-xl-4 px-5 py-4 mb-5 my-5 rounded-5">
                    <div class="text-center fs-2 m-4 text-light">Reset Password</div>


                    <form action="/resetpassword/<%= user._id%>?_method=patch" method="post">
                        <div class="form-floating my-4">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^\w\d\s:])([^\s]){6,16}" title="Must contain at least one number, one lowercase, one uppercase and one special character, and length should be between 6 to 16" placeholder="Password" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="form-floating my-4">
                            <input type="password" class="form-control" id="ConfirmPassword" name="cpassword"
                                placeholder="Password">
                            <label for="ConfirmPassword">Confirm Password</label>
                        </div>

                        <div class="text-center my-4">
                            <button class="btn btn-primary mt-4 col-3" type="submit">Submit</button>
                        </div>
                    </form>
                </div>

                <%- include('./partials/footer') %>