<%- include('../partials/header_cadet') %>

    <div id="wrapper">

        <%- include('../partials/nav_home_cadet') %>

        <% if(err)  {%>
            <div class="container col-md-6 col-xl-4 px-2 rounded-1">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%=err %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <% } %>
              
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 col-lg-3">
                        <div class="list-group text-center make-sticky ">
                    
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <div class="profile my-4 table-striped-columns">
                                            <div class="mb-3"><img src="/photos/person_logo.svg" alt="person" width="20%"></div>
                                            <div class="fs-3"><%= cadet.fullname%></div>
                                            <div class="fs-5">Cadet</div>
                                        </div>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                  <tr>
                                      <td><a href="/cadet/<%= cadet.username%>" class="list-group-item list-group-item-action">Home</a></td>
                                    </tr>
                                  <tr>
                                    <tr>
                                        <td><a href="/cadet/<%= cadet.username%>/view" class="list-group-item list-group-item-action">View
                                            profile</a></td>
                                    </tr>
                                    <tr >
                                      <td><a href="/cadet/<%= cadet.username%>/edit" class="list-group-item list-group-item-action">Edit
                                        Profile</a></td>
                                    </tr>
                                    <tr class="table-active">
                                      <td><a href="/cadet/<%= cadet.username%>/changepassword" class="list-group-item list-group-item-action">Change
                                        password</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/cadet/<%= cadet.username%>/viewinventory" class="list-group-item list-group-item-action">View inventory</a></td>
                                    </tr>
                                </tbody>
                            </table>
                    
                    
                        </div>
                    </div>
                    <div class="col-1 col-md-2"></div>


                    <div class="col-12 col-md-8 col-lg-5 mt-5 py-5">
                        <div class="text-center fs-2 mb-5">Welcome <a href="/cadet/<%= cadet.username%>"> <%= cadet.fullname%></a></div>

                        <div class="container border rounded-5 p-5">
                            <div class="row mb-5">
                                <div class="col text-center fs-3">
                                    Update your Password.
                                </div>
                            </div>
                            <form class="mt-4" action="/cadet/<%=cadet.username%>/changepassword?_method=patch" method="post">

                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^\w\d\s:])([^\s]){6,16}" title="Must contain at least one number, one lowercase, one uppercase and one special character, and length should be between 6 to 16" placeholder="Password"
                                        required>
                                    <label for="Password">New Password</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="confirmpassword" name="cpassword"
                                        placeholder="Password" required>
                                    <label for=" confirmpassword">Confirm Password</label>
                                </div>

                                <div class="text-center mt-5 text-center">
                                    <button class="btn btn-primary px-3" type="submit">Submit</button>
                                </div>

                            </form>



                        </div>
                    </div>


                    <div class="col-1 col-lg-0"></div>
                </div>

                <%- include('../partials/footer') %>